@use "../base/variables" as *;

.site-footer {
    background-color: $color-dark-gray;
    padding: 2rem 0;
    margin-top: auto;

    .footer-container {
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 0 $container-padding;
        text-align: center;
    }
}
