@use "../base/variables" as *;

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
}

.grid {
    display: grid;
    gap: 2rem;

    &--2col {
        @media (min-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--3col {
        @media (min-width: $breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
